<div class="row" style="min-height: 350px;" ng-controller="UserController as user">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <p><h4 style="text-align: center;">About Us</h4></p>
        <table class="rnd" style="width:100%;" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td>
            <p>
                "NALIPA means I'M PAYING"
            </p>
            <p>
                Nalipa was founded in 2012 to offer the market a better, faster, safer and more economical solution for Airtime and Bill payment. Leveraging modern technologies and an on-line customer interface, Nalipa today offers a secure solution that is reliable for the service providers to interface with. Nalipa allows consumers to use credit cards, debit cards on-line to send Airtime or pay bills to recipients. The portal is the key to giving consumers the convenience, safety and security of paymenty. The assurance of privacy and security for customers is why we trust STRIPE and our other processing partners.
            </p>
            <p>
                Nalipa is managed by people who have extensive experience in Payments, Online payments, transaction processing and data security. We understand how important each and every transaction is to our customers and are committed to earning your business.
            </p>
            <p>
                Nalipa is part of the Twiga Associates LLC. suite payment products for businesses and consumers that includes Online transaction processing systems, the initiation and settlement of electronic payments. Nalipa is managed by Twiga Associates LLC.
            </p>
        </td></tr>
    </tbody></table>
        </div>
    </div>