<div class="row" style="min-height: 350px;" ng-controller="UserController as user">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <p><h4 style="text-align: center;">Privacy</h4></p>

        <table class="rnd" style="width:100%; " cellspacing="0" cellpadding="0">
            <tbody><tr><td><b>Privacy Policy</b></td></tr>
            <tr><td><hr></td></tr>
            <tr>
                <td>
                    <p>
                        NALIPA is concerned about your privacy and is committed to providing a secure online environment. As a visitor you need not register or give any personal identification to use this site.
                    </p>
                    <p>
                        <b>Customer Information</b>
                    </p>
                    <p>
                        At NALIPA, we intend to give you as much control as possible over your personal information. In general, you can visit NALIPA on the Web without telling us who you are or revealing any information about yourself. There are times, however, when we may need information from you, such as your name, e-mail address and/or home address. It is our intent to let you know before we collect information from you on the Internet.
                    </p>
                    <p>

                        The information gathered from the forms you fill out is used in one of three ways:
                    </p>
                    <p>
                    </p><ul>
                    <li>To provide you with information about products, services, news and events</li>
                    <li>To allow you to use, purchase and/or download products and services, and</li>
                    <li>To gather broad demographic information about user trends.</li>
                </ul>
                    We will only collect personally identifiable information to the extent deemed reasonably necessary to serve our business purposes, and we will maintain appropriate safeguards to ensure the security, integrity and privacy of the information.
                    <p></p>
                    <p>
                        <b>Security</b>
                    </p>
                    <p>

                        The site has security measures in place to protect the loss, misuse and alteration of the information under our control. When we ask users to enter sensitive information (such as an account number or social security number), that information is protected with security software. All forms on our website are totally voluntary. If you do not feel comfortable submitting information over the Internet, please call a customer service representative at 1-800-433 0938.
                    </p>
                    <p>

                        <b>Sharing</b>
                    </p>
                    <p>

                        NALIPA will not disclose any of your personal account information without your consent, except in the following situations:
                    </p><ul>
                    <li>To help establish programs in which service provider purchase product or service on behalf of their customers;</li>
                    <li>To render, bill and collect for service provided;</li>
                    <li>To protect the property of Nalipa; As otherwise required by law.</li>
                </ul>
                    <p></p>
                    <p>

                        <b>Responsibilities</b>
                    </p>
                    <p>
                        We use security techniques designed to protect our user data, especially when certain data is used by employees and business partners to fulfill user services. Access to customer data is limited to those who specifically need it to conduct their business responsibilities.
                        Use of Statistical Information
                        NALIPA servers automatically gather information about which pages customers visit on our Web Site  The company does not use that information except in the aggregate.
                    </p>
                    <p>
                        <b>Surveys &amp; Contests</b>
                    </p>
                    <p>
                        NALIPA.COM may ask for information from users via surveys or contests. Participation in these surveys or contests is completely voluntary and the user therefore has a choice whether or not to disclose this information. Information requested may include contact information (such as name and mailing address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this service. We may use contact data from our contests to send users information about our company and promotional material from some of our partners. Users may opt-out of receiving future mailings.
                    </p>
                    <p>
                        <b>Opting Out</b>
                    </p>
                    <p>
                        A customer may choose not to receive direct marketing communications from NALIPA in connection with NALIPA services. Upon such choice, NALIPA
                    </p>
                    <p>
                        (a) will not contact that customer directly with marketing messages about NALIPA services, and (b) will not use customer identifiable information obtained from that customer's registration for or use of NALIPA services to contact that user with marketing messages about any NALIPA products or services. A customer may choose not to receive such messages by e-mail, by mail, or by telephone.
                    </p>
                    <p>
                        <b>Links</b>
                    </p>
                    <p>
                        This web site contains links to other sites. Be aware that NALIPA is not responsible for practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every web site that collects personally identifiable information. This privacy statement applies solely to information collected by this Web site.
                        If we decide to change our privacy policy, we will post those changes in the privacy policy section of the website.
                        If you have any questions about the security or privacy at our website, you can send an email to the webmaster at- <a href="mailto:webmaster@nalipa.com">webmaster@nalipa.com</a>.
                    </p>
                </td></tr>
            </tbody></table>

    </div>
</div>