<div class="row" style="min-height: 350px;" ng-controller="OrderController as order">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <p><h4 style="text-align: center;">My Orders</h4></p>
        <br/>
        <table class="table table-responsive table-hover table-bordered" datatable="ng" >
            <thead>
            <tr>
                <th>Order No.</th>
                <th>Date</th>
                <th>Description</th>
                <th>Amount (US$)</th>
                <th>Rate ($1 - TZS)</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" order in order.orders ">
                <td style="font-weight: bolder;color: #2b542c">{{order.order_number}}</td>
                <td style="font-weight: bolder;color: #2b542c">{{order.transaction_date}}</td>
                <td style="font-weight: bolder;color: #2b542c">{{'TZS '+order.tzs_amount+' ACTION '+' TO '+order.transaction.recipient_number}}</td>
                <td style="font-weight: bolder;color: #2b542c">{{order.usd_amount}}</td>
                <td style="font-weight: bolder;color: #2b542c">{{order.exchange_rate}}</td>
                <td style="font-weight: bolder;color: #2b542c">{{order.status}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Order No.</th>
                <th>Date</th>
                <th>Description</th>
                <th>Amount (US$)</th>
                <th>Rate ($1 - TZS)</th>
                <th>Status</th>
            </tr>
            </tfoot>

        </table>
    </div>
</div>
