<div class="row" style="height:100px;">
    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

        ul li { display: inline; }

        ul li { padding-right: 1em; }
        ul li a { color:#163C04; }
        ul li a:hover{ color:#253F1A; }
    </style>
    <div class="col-md-9 col-sm-9 col-lg-9" >
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/about-us">About Us</a></li>
            <li><a href="#/faqs">FAQs</a></li>
            <li><a href="#/term-of-service">Terms of Service</a></li>
            <li><a href="#/privacy">Privacy Policy</a></li>
            <li><a href="#/contacts">Contact Us</a></li>
        </ul>
    </div>
</div>